header 
{
    background-color: #fdf4eb;
}

body 
{
    font-family: "Georgia", sans-serif;
}

.dropdown-menu 
{
    display: none;
}

#hover-dropdown:hover .dropdown-menu 
{
    display: block;
    min-width: 1rem;
    max-width: 6.5rem;
    max-height: calc(50vh - 50px);
    overflow-y: auto;
    text-align: center;
}

.category 
{
    margin-bottom: 10px;
    padding: 40px;
    margin-right: 10px;
}

.custom-button 
{
    background-color: #fdf4eb;
    border-color: #fdf4eb;
    color: #a5998c;
}

.custom-button:hover 
{
    background-color: #f0e6d1;
    border-color: #f0e6d1;
    color: #a5998c;
}

.upload 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.custom-card 
{
    max-width: 400px;
    width: 100%;
    }

.custom-card .card 
{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fdf4eb;
}

.custom-card .card-body 
{
    text-align: center;
}

.custom-card .btn-primary 
{
    display: block;
    margin: 20px auto;
    }

.custom-card .custom-file-input 
{
    display: none;
}

.custom-card .custom-file-label 
{
    display: block;
    margin: 20px auto;
}

.custom-card .form-group label 
{
    flex: 0 0 120px;
}

.custom-card .form-group input 
{
    flex: 1;
    padding: 10px;
}

.photo-row img 
{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px;
    max-width: 250px;
    height: auto;
    display: block;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.photo-row img:hover 
{
    transform: scale(1.1);
}

.gallery-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-title 
{
    padding: 20px;
}

.header-with-button 
{
    display: flex;           
    justify-content: space-between; 
    align-items: center;      
    width: 100%;              
}

.header-with-button h1 
{
    margin-right: auto;       
}

.header-with-button .end 
{
    margin-left: auto;        
    margin-right: 50px;       
    padding: 8px 20px;       
    border: 2px solid #333; 
    border-radius: 5px;       
    background-color: white;  
    color: #333;           
}

.header-with-button .end:hover 
{
    background-color: #333; 
    color: white;              
}

@media (max-width: 480px) 
{
    h1 {
    font-size: 16px;
    }

    .photo-row img 
    {
        margin: 0.5px;
        max-width: 256px;
        padding: 15px;
    }

    .custom-navbar 
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav 
    {
        width: 100%;
        justify-content: flex-start;
    }

    .nav-item 
    {
        padding: 5px 0;
    }

    .navbar-expand-lg .navbar-collapse 
    {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .navbar-toggler 
    {
        display: block; 
    }

    .custom-navbar .navbar-brand img 
    {
        max-width: 150px; 
    }

    .navbar-nav .nav-link 
    {
        font-size: 12px;
    }

    .header-with-button 
    {
        display: flex;           
        justify-content: space-between; 
        align-items: center;      
        width: 100%;              
    }

    .header-with-button h1 
    {
        margin-right: auto;       
    }

    .header-with-button .end 
    {
        margin-left: auto;        
        margin-right: 30px;       
        padding: 2px 6px;     
        font-size: 0.8em;
        border: 1px solid #333; 
        border-radius: 5px;       
        background-color: white;  
        color: #333;           
    }

    .header-with-button .end:hover 
    {
        background-color: #333; 
        color: white;              
    }
}

.modal-content 
{
    background: none;
    border: none;
}

.modal-content .card 
{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 0.25rem;
}

.custom-card 
{
    padding: 20px;
}

.centered-text option 
{
    text-align: center;
}

.centered-text 
{
    text-align-last: center; 
}

.underline-text 
{
    text-decoration: underline; 
}

.custom-file-label 
{
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.custom-file-input::file-selector-button 
{
    display: none;
}

.custom-file-input::file-selector-text 
{
    display: none;
}